@mixin fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fc{
    display: flex;
    align-items: center;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
